@model IEnumerable<MovieShopDAL.Movie>

@{
    ViewBag.Title = "Movie Shop";
}

    <h2>Movie Shop</h2>

    <div class="container">
        @foreach (var item in Model)
        {

            <div class="col-sm-2">
                <img src="~/Content/MovieImages/@Html.DisplayFor(modelItem => item.ImageUrl)" /> <br />
                    @Html.DisplayFor(modelItem => item.Title) <br />
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)<br />
                    <b>Price:</b>@Html.DisplayFor(modelItem => item.Price)<br />

                    <button type="button" class="btn btn-default">To Basket</button>
                    <a href="@item.TrailerUrl" class="btn btn-primary btn-xs">Trailer</a>
            </div>


        }
        
        <input type="submit" class="btn btn-info" value="Pay"><br />
    </div>

