@model MovieStoreUI.Models.ShoppingCartModel

@{
    ViewBag.Title = "Index";
    
}

<h4>ShoppingCart</h4>

@Html.Action("PartIndex", "ShoppingCart")

<p>
    @Html.ActionLink("Clear shopping cart", "Clear", "ShoppingCart")

    <div class="nav navbar-nav navbar-right">
        @Html.ActionLink("Check Out", "Index", "CheckOut")

    </div>
</p>
